<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>hello, world!</title>
</head>
<body>
<div id="content">
  <h1>Ping</h1>

  <div id="chartContainerLan" style="height: 300px; width: 100%;"></div>
  <div id="chartContainerWan" style="height: 300px; width: 100%;"></div>

  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
  <script src="static/js/ping.js"></script>
</div>
</body>
</html>